<nav class="navbar navbar-inverse justify-content-between home-nav ">
    <a class="navbar-brand">Recipe Book</a>
    <li class="dropdown  user-icon">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/user.png" width="30" height="30" alt="icon">
            
        </a>
        <span class="caret"></span>
        <ul class="dropdown-menu dropdown-menu-right" style="text-align:center">
            <li>
                <a >Settings</a>
            </li>
            <li>
                <a ng-click="redirectToLogout()">Log out</a>
            </li>
        </ul>
    </li>
</nav>
<div class="container-fluid dashboard-grid">
    <div class="action-buttons">
        <button style="margin-bottom: 10px;" class="btn btn-primary action-btn" ng-click="redirectToKeywords()">Manage Keywords</button>
        <button style="margin-bottom: 10px" class="btn btn-primary action-btn" data-toggle="modal" data-target="#uploadRecipe" ng-click="openingUploadDialog()">Upload Recipe</button>   
    </div>
    <div class="modal fade" id="uploadRecipe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <form style="margin: 0 30px;">
                    <div class="form-group">
                        <div>
                            <label for="keywords">Keyword criteria: </label>
                            <select class="form-control" name="keywords" style="margin-bottom: 20px;" ng-model="keyword" ng-options="option.Name for option in keywordsList">
                            </select>
                        </div>
                        <div ng-show="!fileFound">
                            <label for="file-upload" class="btn btn-primary modal-upload-document">
                                <i class="fa fa-cloud-upload"></i> Upload Recipe
                            </label>
                            <input id="file-upload" type="file" file-model="myFile" accept=".xls,.xlsx,.csv,.json"/>
                        </div>
                        <div style="margin-left:20px;" ng-show="fileFound" layout="row" flex>
                            <span style="margin-left:10%"> {{myFile.name}}</span>
                            <span flex="50" style="cursor: pointer;margin-left:20%">
                                <i class="fa fa-trash" ng-click="removeDoc()"></i>
                            </span> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeDialog()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="uploadDocument()" ng-disabled="!keyword || !myFile || !myFile.name">Upload</button>
            </div>
            </div>
        </div>
    </div>
    <table st-table="displayedData" st-safe-src="smartTableData" class="table table-striped">
        <thead>
            <tr>
                <th colspan="5">
                    <input st-search="" class="form-control" placeholder="Global search ..." type="search" />
                </th>
            </tr>
            <tr class="sortable">
                <th st-sort="RecipeName" style="width: 35%">Recipe</th>
                <th st-sort="AttachmentName" style="width: 35%">File Name</th>
                <th style="width: 15%">Source File</th>
                <th style="width: 15%">Transformed File</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayedData">
                <td style="width: 35%">{{row.Name}}</td>
                <td style="width: 35%">{{row.Name}}</td>
                <td style="width: 15%">
                    <i class="fas fa-download action-icon" ng-click="downloadDocument(row.RecipeAttachmentId, false)">
                    </i>
                </td>
                <td style="width: 15%"> 
                    <i class="fas fa-download action-icon" ng-click="downloadDocument(row.RecipeAttachmentId, true)">
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="snackbar" style="z-index: 10000;">{{serverMessage}}</div>
    <a id="download-row-content" ng-href="{{ fileUrl }}" download="{{fileName}}"></a>
</div>