<div class="login-page">
    <div class="form">
        <h2>Recipe Book</h2>
        <br>
        <form name="loginform" class="login-form">
            <input type="text" placeholder="User name" ng-required="true" ng-model="username"/>
            <input type="password" placeholder="Password" ng-required="true" ng-model="password"/>
            <button ng-click="loginform.$valid && login()">login</button>
            <p class="message">Not registered?
                <a ng-click="redirectToSignup()">Create an account</a>
            </p>
        </form>
    </div>
    <div id="snackbar">{{serverMessage}}</div>    
</div>