<div class="login-page">
  <div class="form">
      <h2>Recipe Book</h2>
      <br>
    <form name="signupform" class="login-form">
      <input type="text" placeholder="User name" ng-required="true" ng-model="username"/>
      <input type="password" placeholder="Password" ng-required="true" ng-model="password"/>
      <input type="email" placeholder="Email address" ng-required="true" ng-model="emailAddress"/>
      <button ng-click="signupform.$valid && signup()">create</button>
      <p class="message">Already registered?
        <a ng-click="redirectToLogin()">Sign In</a>
      </p>
    </form>
  </div>
  <div id="snackbar">{{serverMessage}}</div>      
</div>