<nav class="navbar navbar-inverse justify-content-between home-nav ">
        <a class="navbar-brand">Keywords</a>
        <li class="dropdown  user-icon">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/user.png" width="30" height="30" alt="icon">     
            </a>
            <span class="caret"></span>
            <ul class="dropdown-menu dropdown-menu-right" style="text-align:center">
                <li>
                    <a >Settings</a>
                </li>
                <li>
                    <a ng-click="redirectToLogout()">Log out</a>
                </li>
            </ul>
        </li>
    </nav>
    <div class="container-fluid dashboard-grid">
        <div class="action-buttons">
            <button style="margin-bottom: 10px;" class="btn btn-primary action-btn" ng-click="redirectToRecipes()">Manage Recipes</button>
            <button style="margin-bottom: 10px" class="btn btn-primary action-btn" data-toggle="modal" data-target="#createKeyword">Create Keyword</button>               
        </div>
        <div class="modal fade" id="createKeyword" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create keyword</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <form style="margin: 0 30px;">
                        <div class="form-group">
                            <label for="keywordName">Keyword Group Name:</label>
                            <input type="text" class="form-control" id="keywordName" ng-model="keywordName" placeholder="Keyword Group Name">
                        </div>
                        <div class="form-group">
                            <label for="keywordValue">Keyword Group Value:</label>
                            <textarea class="form-control" id="keywordValue" ng-model="keywordValue" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeDialog()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createKeyword()" ng-disabled="!keywordName || !keywordValue">Create</button>
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editKeyword" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit keyword</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <form style="margin: 0 30px;">
                        <div class="form-group">
                            <label for="keywordName">Keyword Group Name:</label>
                            <input type="text" class="form-control" id="keywordName" ng-model="keywordName" placeholder="Keyword Group Name">
                        </div>
                        <div class="form-group">
                            <label for="keywordValue">Keyword Group Value:</label>
                            <textarea class="form-control" id="keywordValue" ng-model="keywordValue" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeDialog()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="editSaveKeyword()" ng-disabled="!keywordName || !keywordValue">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteKeyword" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete keyword</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog()">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <p>Are you sure you want to delete keyword?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeDialog()">No</button>
                        <button type="button" class="btn btn-primary" ng-click="deleteKeyword(row.RecipeAttachmentId)">Yes</button>
                    </div>
                    </div>
                </div>
            </div>
        <table st-table="displayedData" st-safe-src="smartTableData" class="table table-striped">
            <thead>
                <tr class="sortable">
                    <th st-sort="KeywordName" style="width: 30%">Keyword Name</th>
                    <th st-sort="KeywordValue" style="width: 50%">Value</th>
                    <th style="width: 20%">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedKeywordsData">
                    <td style="width: 30%">{{row.Name}}</td>
                    <td style="width: 50%">{{row.Value}}</td>
                    <td style="width: 20%">
                        <i class="fas fa-pencil-alt action-icon" ng-click="editKeyword(row)" data-toggle="modal" data-target="#editKeyword">
                        </i>
                        <i class="fas fa-trash action-icon" data-toggle="modal" ng-click="deleteKeywordConfirmation(row)" data-target="#deleteKeyword">
                        </i>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <div id="snackbar" style="z-index: 10000;">{{serverMessage}}</div>
    </div>